@import "tailwindcss";

@layer components {
  .btn-custom {
    @apply w-full p-[15px] text-[16px] font-extralight text-[var(--cor-primaria)] text-center 
           rounded-[50px] bg-[rgba(128,128,128,0.05)] backdrop-blur-xs 
           shadow-[inset_2px_2px_8px_rgba(255,255,255,0.08),2px_8px_10px_rgba(0,0,0,0.08)] 
           md:w-max md:p-[2vw] 
           hover:transition-all hover:translate-y-[-4px] hover:duration-500 
           hover:shadow-[inset_2px_2px_8px_rgba(255,255,255,0.08),2px_8px_12px_rgba(0,0,0,0.15)];
  }
  .links-mn-mobile {
    @apply w-max text-[45px] font-black text-[var(--cor-terciario)] text-shadow-[0px_0px_10px_rgba(0,0,0,0.08)] rounded-[50px] hover:translate-y-[-4px] hover:transition-all  transition-all duration-500
  }
}

:root {
  --background: #F5ECDB;
  --foreground: #171717;
  --font-primaria: var(--font-radio-canada), Arial, Helvetica, sans-serif;
  --font-secundaria: var(--font-barriecito), cursive;
  --cor-font:rgba(0, 0, 0, 0.85);
  --cor-primaria: #F5ECDB;
  --cor-secundaria: rgba(85, 89, 54, 0.850);
  --cor-terciario: #3F4030;
}

.font-barriecito {
  font-family: var(--font-barriecito), cursive;
}

body,
* {
  cursor: url("/icons/mao-d-a-cursor.png") 8 8, auto;
}

body {
  font-family: var(--font-primaria);
  color: var(--cor-font);
}

a:hover,
button:hover,
[role="button"]:hover,
input:hover,
textarea:hover,
button,
a,
input,
textarea,
label,
ul,
[role="button"] {
  cursor: url("/icons/mao-d-d-pointer.png") 8 8, pointer;
}

.slideMenu1{
  animation: slide2 0.6s cubic-bezier(0, 0, 0.7, 0);
}
.slideMenu2{
  animation: slide2 0.7s cubic-bezier(0, 0, 0.8, 0);
}
.slideMenu3{
  animation: slide2 0.8s cubic-bezier(0, 0, 0.9, 0);
}
.slideMenu4{
  animation: slide2 0.9s cubic-bezier(0, 0, 1, 0);
}

@keyframes slide2 {
  0% {
    transform: translateY(150px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.textLoading .char {
  display: inline-block;
  overflow: hidden;
}