@import "tailwindcss";
@font-face {
  font-family: 'Radio Canada';
  src: url('../../public/fonts/RadioCanadaBig-VariableFont_wght.ttf') format('opentype');
}
@font-face {
  font-family: 'Barriecito';
  src: url('../../public/fonts/Barriecito-Regular.otf') format('opentype');
}

:root {
  --background: #F5ECDB;
  --foreground: #171717;
  --font-primaria: 'Radio Canada', Arial, Helvetica, sans-serif;
  --cor-font:rgba(0, 0, 0, 0.7);
  --cor-primaria: #F5ECDB;
  --cor-secundaria: rgba(85, 89, 54, 0.850);
  --cor-terciario: #3F4030;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primaria);
}
