
.logoContato{
    border-radius: 50%;
    padding: 10px;
    width: 6vw;
    transition: all 1.2s;
    transform: translateX(-100%);
    opacity: 0;
    background-color: var(--cor-primari);
}
.logoContato.ativo{
    transform: translateX(0);
    opacity: 1;
}